.python_history
.sqlite_history
.screen_info
.DS_Store
.ICEauthority
.Skype
.Xauthority
.adobe
.bash_history
.bash_profile
.bin
.cache
.config
.dbus
.dmrc
.dropbox
.fontconfig
.gconf
.gconfd
.gimp-2.6
.git
.gnome-color-chooser
.gnome2
.gnome2_private
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0-gnome-color-chooser
.gvfs
.icons
.ipython
.java
.lesshst
.libvirt
.local
.macromedia
.mission-control
.mozilla
.mplayer
.mysql
.mysql_history
.nautilus
.openvpn
.opera-beta
.php_history
.pki
.pulse
.pulse-cookie
.purple
.recently-used.xbel
.rnd
.ssh/authorized_keys
.ssh/config
.ssh/id_rsa
.ssh/id_rsa.putio
.ssh/known_hosts
.ssh/ssh_agent_info
.subversion
.themes
.thumbnails
.uml
.viminfo
.virsh
.xinitrc
.xsession
.xsession-errors
.xsession-errors.old
Desktop
Dropbox
documents
downloads
movies
music
packages
pictures
projects
public_html
