!/.arch-packages-news.py
!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.conkyrc
!/.emacs
!/.gitconfig
!/.htoprc
!/.pythonrc
!/.screenrc
!/.toprc
!/.vimrc
!/.zlogin
!/.zlogout
!/.zshenv
!/.zshrc

!/.ssh/
/.ssh/*
!/.ssh/authorized_keys
!/.ssh/functions.sh

.DS_Store
._.DS_Store
._*
